<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
    <client>
      <endpoint name="hdDbClient" address="http://localhost:8001/HdMatrialServices/hdMatrialSQLite" binding="basicHttpBinding" contract="IhdMatrialSQLite.IhdSQLite" bindingConfiguration="fileServer"/>
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="fileServer" maxBufferPoolSize="524288000" maxBufferSize="65536000" maxReceivedMessageSize="65536000" transferMode="Streamed">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>