<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="HdMatrialServices.hdMatrialSQLite" behaviorConfiguration="hdMatrialBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/HdMatrialServices/hdMatrialSQLite"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="IhdMatrialSQLite.IhdSQLite" bindingConfiguration="dataServer"></endpoint>
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="hdMatrialBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name ="dataServer" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="6553500" maxStringContentLength="2147483647" maxArrayLength="6553500"
                        maxBytesPerRead="6553500" maxNameTableCharCount="6553500" />
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
  
</configuration>